# **Setup the development framework such that changes in py files auto load into this file**
- You can ignore this if your interest is only in the business logic and design. 
- The steps in this section are only environment set related

### **Make sure py file change are loaded automatically**

In [13]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### **Import basic package required for this assignment**

In [14]:
import os
import pandas as pd
import db.constants as C

### **Make sure right sources are getting picked**

In [15]:
from dao.base_transformer import BaseDBTransformer

### **Make sure the latest class are getting loaded.**

In [16]:
# 1. Import the modules first (so Python knows them)
import importlib
import service.product_transformer
import service.cart_transformer
import service.purchase_transformer
import service.discount_transformer
import db.constants
import db.dbsql

# 2. Reload them (useful after edits)
importlib.reload(service.product_transformer)
importlib.reload(service.cart_transformer)
importlib.reload(service.purchase_transformer)
importlib.reload(service.discount_transformer)
importlib.reload(db.constants)

# 3. Import the classes fresh from the reloaded modules
from service.product_transformer import ProductTransformer
from service.cart_transformer import CartTransformer
from service.purchase_transformer import PurchaseTransformer
from service.discount_transformer import DiscountTransformer
import db.constants
import random

# **Transformers**
- This section is the core design of the project
- There are four transformers 
   - Products transformer: This is the database of the list of the products in EStore. The prodcuts.csv file for demo has 9 products. 
   - Cart transformer: This is user selected products added into the cart instance specific to the user. 
   - purchase transfromer: This is checkout functionaility of the cart. 
        - It has two kinds of purchases. With discount by applying discount code.
        - It also supports purchase without applying discount code. If no discount is applied it generates a ne discount code and adds to discounts for the subsequent purchases. 
   - Discount transformer: This handles the discounts codes after the purchase. 

   - For each these transforers there is .py  file and .csv file in the src directory. 
   - Each transfomer derives from the base transfomer class which manages the csv read/write for that transformer. 
   - The base transformer class also handles basis CRUD operation if they are at the level of the dataframe(entire row level operations) without having to deal with individual columns (as columns are specific to the transformer)

- The code is organized as a typical pyproject.toml file.

## **Product Transformer - demonstration**

In [17]:
from db.dbsql import SessionLocal, Product, ProductClass

# Product.c.get('PRODUCT_CLASS_CODE')
Product.c.PRODUCT_CLASS_CODE

Column('PRODUCT_CLASS_CODE', INTEGER(), ForeignKey('product_class.PRODUCT_CLASS_CODE'), table=<product>, nullable=False)

In [18]:
pt = ProductTransformer()

res = pt.list_products_in_class_df(2050)

res

,PRODUCT_ID,PRODUCT_DESC,PRODUCT_CLASS_CODE,PRODUCT_PRICE,PRODUCT_QUANTITY_AVAIL,LEN,WIDTH,HEIGHT,WEIGHT
0,1,Sky LED 102 CM TV,2050,35000.0,30,905,750,700,15.00
1,2,Sams 192 L4 Single-door Refrigerator,2050,28000.0,15,1802,750,750,25.00
2,3,Jocky Speaker Music System HT32,2050,8900.0,19,908,300,300,5.00
3,21,Cybershot DWC-W325 Camera,2050,5300.0,5,100,55,40,0.05

In [19]:
pt.list_all_products()

,PRODUCT_ID,PRODUCT_DESC,PRODUCT_CLASS_CODE,PRODUCT_PRICE,PRODUCT_QUANTITY_AVAIL,LEN,WIDTH,HEIGHT,WEIGHT
0,1,Sky LED 102 CM TV,2050,35000.0,30,905,750,700,15.000
1,2,Sams 192 L4 Single-door Refrigerator,2050,28000.0,15,1802,750,750,25.000
2,3,Jocky Speaker Music System HT32,2050,8900.0,19,908,300,300,5.000
3,4,Cricket Set for Boys,2051,4500.0,10,890,300,200,18.000
4,5,Infant Sleepwear Blue,2052,250.0,50,596,300,100,0.250
5,6,Barbie Fab Gown Doll,2051,1000.0,20,305,150,75,0.150
6,7,Remote Control Car,2051,2900.0,12,200,150,50,0.225
7,8,Doll House,2051,3000.0,12,600,455,375,0.900
8,9,Blue Jeans 34,2052,800.0,100,450,310,52,1.100
9,10,Blossoms Lehenga Choli set,2052,3000.0,100,600,315,54,0.250
10,11,OnePlus 6 Smart Phone,2055,32500.0,25,100,65,15,0.550
11,12,Samsung Galaxy On6,2055,14000.0,20,120,70,18,0.650
12,13,Alchemist,2054,150.0,50,200,100,20,0.235
13,14,Harry Potter,2054,250.0,50,210,100,50,0.345
14,15,Logtech M244 Optical Mouse,2053,450.0,10,125,85,45,0.105
15,16,External Hard Disk 500 GB,2053,3500.0,7,275,285,85,0.525
16,17,Titan Karishma Watch,2057,3497.0,35,220,55,24,0.103
17,18,Shell Fingertip Ball Pen,2056,25.0,150,170,12,170,0.050
18,19,Ruf-n-Tuf Black PU Leather Belt,2052,350.0,50,700,45,4,0.155
19,20,Hello Kitti Lunch Bag,2059,199.0,15,455,300,225,0.500
20,21,Cybershot DWC-W325 Camera,2050,5300.0,5,100,55,40,0.050
21,22,KitchAsst Siphon Coffee Maker 500 ml,2060,1790.0,10,150,100,200,1.200
22,23,Sams 21L Microwave Oven,2060,6880.0,5,500,400,300,8.000
23,24,Phils HL 7430 Mixer Grinder 750W,2060,2265.0,3,375,400,355,3.000
24,25,Solmo Non-stick Sandwich Maker 750 W,2060,1625.0,10,150,175,70,0.750
25,26,Solmo Hand Blender Fibre,2060,1415.0,7,220,100,220,0.560
26,27,Phils Wah Collection Juicer JM12,2060,2029.0,2,400,450,425,4.000
27,28,Adidas Analog Watch,2057,2295.0,7,225,60,28,0.115
28,29,Disney Analog Watch,2057,1600.0,10,225,60,28,0.115
29,30,Esprit Analog Watch,2057,3495.0,2,225,60,28,0.115
30,31,HP ODC Laptop Bag 15.5,2059,3390.0,7,550,400,210,0.255
31,32,Women Hand Bag,2059,1600.0,15,250,220,170,0.175
32,33,HP ODC School Bag 2.5',2059,799.0,14,600,450,275,0.355
33,34,FLUFF Tote Travel Bag 35LTR,2059,3290.0,4,900,800,600,4.000
34,35,Cindy HMPOC Pencil Box (Multicolor),2056,80.0,10,250,50,15,0.450
35,36,Solo Exam SB-01 Writing Pad,2056,350.0,21,400,300,5,0.550
36,37,Zamark Color Pencil Art Set,2056,100.0,10,120,90,20,0.350
37,38,Kasyo DJ-2100 Desktop Calculator,2056,338.0,10,150,120,120,0.550
38,39,TRANS 2D A4 Size Box File,2056,120.0,6,350,300,100,0.315
39,40,4M Post It Pad 3.5,2056,35.0,8,80,80,150,0.120
40,41,PK Copier A4 75 GSM White Paper Ream,2056,285.0,2,297,210,0,0.000
41,42,GreenWud CT-NO-PR Coffee Table,2058,3500.0,6,1250,550,700,50.000
42,43,Supreme Fusion Cupboard 02TB,2058,3000.0,3,1200,350,900,60.000
43,44,Foldable Premium Chair,2058,4000.0,6,75,70,90,20.000
44,45,GreenWud Nova Pedestal Unit,2058,2500.0,5,400,400,600,25.000
45,46,Exam Warriors,2054,100.0,50,200,160,15,0.100
46,47,Small Is Beautiful,2054,140.0,40,180,100,15,0.100
47,48,To Kill a Mocking Bird,2054,210.0,35,190,150,20,0.150
48,49,All-in-one Board Game,2051,450.0,20,750,320,90,0.500
49,50,Huwi Wi-Fi Receiver 500Mbps,2053,287.0,30,100,95,30,0.100
50,51,Quanta 4 Port USB Hub,3000,500.0,50,180,125,30,0.050
51,52,Dell Targus Synergy 2.0 Backpack,3002,999.0,250,450,250,50,0.500
52,53,Tom Clancy's Ghost Recon: Future Soldier (PC G...,3002,999.0,250,150,200,10,0.100
53,54,Nokia 1280 (Black),3002,999.0,250,45,107,15,0.082
54,55,HP Deskjet 2050 All-in-One - J510a Printer,3001,3749.0,100,249,427,406,3.600
55,56,LG MS-2049UW Solo Microwave,3001,4800.0,100,455,252,320,5.600
56,57,Nokia Asha 200 (Graphite),3001,4070.0,100,61,115,14,0.105
57,58,Sony Xperia U (Black White),3000,16499.0,50,54,112,12,0.110
58,59,Nikon Coolpix L810 Bridge,3000,14987.0,50,111,76,83,0.430
59,60,Samsung Galaxy Tab 2 P3100,3000,19300.0,50,122,194,10,0.345

## **Discount Transformer - demonstration**

In [20]:
dt = DiscountTransformer()
dt.list_eligible_codes(1)

,DISCOUNT_ID,ORDER_ID,CUSTOMER_ID,DISCOUNT_CODE,DISCOUNT_PERCENT,DISCOUNT_STATUS
0,10001_1,10001,1,NO_DISCOUNT,-1,0

## **Purchase Transformer - demonstration**

In [21]:
prt = PurchaseTransformer()
prt.list_orders_by_customer(2)

   ORDER_ID  CUSTOMER_ID PAYMENT_MODE  SHIPPER_ID DISCOUNT_ID
0     10002            2         Cash       50001        1000
1     10012            2  Credit Card       50004        1000
2     10037            2         Cash       50005        1000

## **Cart Transformer - demonstration**

In [22]:
ct = CartTransformer
ct.list_all()

   PRODUCT_ID  PRODUCT_QUANTITY  CUSTOMER_ID
0         205                 3            1
1         240                 2            2
2          28                 4            3
3          34                 4            3
4          39                 4            3
5          17                 4            3
6           1                 4            3

# **Business logic - Helper functions**

In [27]:
prt = ProductTransformer()
products_to_buy = prt.getRandomProducts(5)
customer_id=3
products_to_buy

,PRODUCT_ID,PRODUCT_DESC,PRODUCT_CLASS_CODE,PRODUCT_PRICE,PRODUCT_QUANTITY_AVAIL,LEN,WIDTH,HEIGHT,WEIGHT
21,22,KitchAsst Siphon Coffee Maker 500 ml,2060,1790.0,10,150,100,200,1.200
11,12,Samsung Galaxy On6,2055,14000.0,20,120,70,18,0.650
12,13,Alchemist,2054,150.0,50,200,100,20,0.235
20,21,Cybershot DWC-W325 Camera,2050,5300.0,5,100,55,40,0.050
7,8,Doll House,2051,3000.0,12,600,455,375,0.900

In [28]:
ct = CartTransformer()
ct.addToCart(customer_id, products_to_buy, False)
items = ct.list_cust(customer_id)
items

   PRODUCT_ID  PRODUCT_QUANTITY  CUSTOMER_ID
0          22                 1            3
1          12                 1            3
2          13                 1            3
3          21                 1            3
4           8                 1            3

In [ ]:
def purchase_cart_items(cust_id, shipper_id=50001, discount_id='00000', pay_mode='Credit Card', debug=False):
     
    # First create order_header (order_id)
    ordh_dict = {}
    ordh_dict[C.ordid] = 0
    ordh_dict[C.custid] = cust_id
    ordh_dict[C.pmode] = pay_mode
    ordh_dict[C.shipid] = shipper_id
    ordh_dict[C.did] = discount_id

    res = BaseDBTransformer.insert(C.orders,ordh_dict)
    print(res)

    cust_cart = BaseDBTransformer.read(C.cart, **{C.custid: cust_id})
    cust_cart

In [30]:
purchase_cart_items(customer_id)

AttributeError: module 'db.constants' has no attribute 'shipid'

# **Admin APIs**

In [14]:
def getPurchases():
    prt = PurchaseTransformer()
    print(prt.list_all_orders())

def getDiscounts():
    dt = DiscountTransformer()
    print(dt.list_all_codes())

getPurchases()
getDiscounts()

    ORDER_ID  CUSTOMER_ID PAYMENT_MODE  SHIPPER_ID DISCOUNT_ID
0      10001            1  Credit Card       50001        1000
1      10002            2         Cash       50001        1000
2      10003            5         Cash       50001        1000
3      10004            5  Credit Card       50001        1000
4      10005            5  Credit Card       50002        1000
..       ...          ...          ...         ...         ...
65     10066           41                        0        1000
66     10067            6  Credit Card           0        1000
67     10068           51  Credit Card       50004        1000
68     10069           23  Net Banking       50002        1000
69     10070           10  Net Banking       50001        1000

[70 rows x 5 columns]
  DISCOUNT_ID  ORDER_ID  CUSTOMER_ID DISCOUNT_CODE  DISCOUNT_PERCENT  \
0     10001_1     10001            1   NO_DISCOUNT                -1
1     10002_2     10002            2   NO_DISCOUNT                -1

   DISCOUNT_STATUS
0                0
1                0

# **Use cases 1 - Buy products**

# **Use cases 2 - Buy products with discount**